
form{
position: relative;
    max-width: 650px;
    // margin: 40px auto 30px;
    padding: 20px 20px;
    border-radius: 20px 20px 20px 20px;
    min-height: 258px;
    box-shadow: $shadow;

@include alignColomn;
gap: 3rem;
.button{
    color: azure;
    }
 
}
.signup-container,
    .login-container {
      min-height: 210px;
      @include verticalCenter;

      h3 {
        margin-bottom: 8px;
      }

      form {
        display: grid;
        margin: auto;

        input {

          text-align: center;
          padding: 8px 10px;
          transition: 0.2s;
        }
      }
    

button,
input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  background: #DCC9CE;
  transition: 0.2s;
  color: black;

  &:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }
}

input,
textarea {
  border-radius: 7px;
  border: none;
  resize: none;
  margin: 5px;
  padding: 8px;
  background: $white;
  width: 70%;
  display: flex;
  margin: auto;
  background: #E4D0BF;
}
}

#root > div > div > div.signup-container > div{
    width: 70%;
}
