.authentification {
  .connect-modal {
     margin: 4rem;
    @media screen and (max-width: 780px) {
     margin: 4rem 0 4rem 0;
     }
    background-image: url('../../../../public/image-connexion2.jpg');
    .header-btn {
      border-radius: 10px 10px 0 0;

      transition: 0.2s;
      button {
        @media screen and (max-width: 1050px) {
            width: 40%;

            }
        &:hover {
          filter: brightness(80%);
          transform: translateX(2px);
        }
      }
    }
  }
}
