button {
  height: 5vh;
  border-radius: 7px;
  font-size: clamp(0.1rem, 10vw, 0.5rem);
  margin: auto;
  resize: none;
  width: 20%;
  align-items: center;

  background: #bb8a5e;
  color: black;
  &:hover {
    background: #bb8a5e;
    opacity: 30%;
  }
}
