

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
}
.dress-card {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 14px 14px 0 0;
//   height: 300px;
  transition: 0.2s;
  padding-bottom: 1rem;
}
.dress-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 40px rgba(187, 138, 93, 0.35);
}
@media screen and (max-width: 1050px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.infos {
  display: grid;
  grid-template-columns: 90% 10%;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
  line-height: 24px;
  margin-top: 2px;
}
h4 {
  margin: 0;
  font-weight: 600;
}
.title p {
  color: #F1BD8B ;
  font-weight: 700;
  margin: 0;
}
.title input {
  height: 10px;
//   width: 60%;
}
.title button {
  font-weight: 600;
  background: rgb(199, 184, 168);
  color: #fefffe;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.15s;
  border-radius: 10px;
  border: none;
    //  height: 40%;
       margin-left: 4px;
}
.title button:hover {
  background: #F1BD8B;
  border: 1px solid #F1BD8B;
  color:  black;;
}
.btn-container {
  cursor: pointer;
  visibility: hidden;
  transition: 0.7s;
  opacity: 0;
  transform: translate(10px, 8px);
  color: grey;
}
.dress-card:hover .btn-container {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 8px);
}
.btn-container div {
  transition: 0.2s;
}
.btn-container div:hover {
  transform: scale(1.15);
  color: black;
}
