.dress-detail {
  padding-top: 4rem;
  display: flex;
  gap: 2rem;
  img {
    width: 50%;
    border: 2px solid #333;
    border-radius: 5px;
  }
  .dress-infos {
    width: 50%;
    line-height: 3em;
    h2: {
      font-size: clamp(10px, 4em, 28px);
    }
    .info-price {
      font-weight: bold;
      font-size: clamp(10px, 4em, 18px);
    }
  }
}
