.dress-detail {
  padding-top: 4rem;
  display: flex;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;  }
  
  gap: 2rem;
  img {
    width: 50%;
    border: 2px solid #333;
    border-radius: 5px;
  }
  .dress-infos {
    width: 50%;
    line-height: 3em;
    h2: {
      font-size: clamp(10px, 4em, 28px);
    }
    .info-price {
      font-weight: bold;
      font-size: clamp(10px, 4em, 18px);
    }
  }
   .form-detail {
      display: flex;
    flex-direction: column;
    box-shadow: none;
    gap: 0rem;
    input {
      width: 75px;
      padding: 8px;
      border: 2px solid #bb8a5d;
      font-size: 18px;
      margin-bottom: 3rem;
    }
    button {
        margin: 0;
        width: 30%; 
        @media screen and (max-width: 600px) {
            width: 100%;
    } 
    }

  }
}
